ominousforshadowing/target
ominousforshadowing/.settings
ominousforshadowing/.classpath
ominousforshadowing/.project

ominousforshadowing/src/main/resources/application.properties
ominousforshadowing/.vscode