ominousforeshadowing/target
ominousforeshadowing/.settings
ominousforeshadowing/.classpath
ominousforeshadowing/.project

ominousforeshadowing/src/main/resources/application.properties
ominousforeshadowing/.vscode